* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Karl", sans-serif;
}

.App {
	max-width: 128rem;
	margin: 0 auto;
	height: 100vh;
}

.sidebar,
.editor {
	border: 1px solid;
	padding: 2rem;
}

.notes {
	padding-inline-start: 0;
	list-style: none;
}

.note {
	padding: 1rem;
	border: 1px solid;
	cursor: pointer;
	margin: 5px 0;
	display: flex;
	justify-content: space-around;
}

.selected-note {
	background: navajowhite;
}

.sidebar-title {
	display: flex;
	justify-content: space-between;
}

.split {
	display: flex;
	flex-direction: row;
	height: inherit;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 50%;
	margin: auto 0 ;
	outline: 1px solid;
	border-radius: 5px ;
}

.gutter.gutter-horizontal {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
	cursor: col-resize;
}
